/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Quote-section
        4.3 Work-section
        4.4 Services-section
        4.5 Form-section
        4.6 Footer
        5. Media Queries
///////////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: linear-gradient(156deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 73%);
    --purple: #5722cd;
    --button-bg-color: #ED4385;
    --text-color: #0C0C0C;
    --bg-accent-color: #F2F0FF;
    --accent-color: #F3F6F9;
    --article-accent-color: #7A7A7A;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: var(--accent-color);
}
/* ------------------------------- 2. Typography ----------------------------------- * */

.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
}


.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: "Merriweather", serif;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.inner-container__secondary {
    flex-basis: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 20px;
}

.primary-button {
    background-color: var(--button-bg-color);
    padding: 1rem 2rem;
    border: none;
    border-radius: 24px;
    color: var(--accent-color);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 2em;

}

.section-background-primary {
    color: var(--bg-accent-color);
    width: 100%;
    border: 1px solid var(--bg-accent-color);
    font-size: 20em;
}

.section-background-secondary {
    color: var(--accent-color);
    width: 100%;
    border: 1px solid var(--bg-accent-color);
    font-size: 20em;
}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.nav-wrapper {
    width: 100%;
    font-weight: 300;
    font-size: 1.2rem;
}
.nav-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    padding: 2rem 0;
}

.nav-wrapper li {
    list-style: none;
}

header {
    background: var(--header-bg-color);
    color: var(--accent-color);
    text-align: center;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    margin: 4rem 0 2rem 0;
    line-height: 70px;
}

.header-wrapper p {
    font-size: 2rem;
    font-weight: 300;
}

header img {
    margin-top: 3rem;
}

/* --------------- 4.2 Quote-section ------------------- */
.quote-section h3 {
    font-size: 2.0em;
    text-align: center;
    color: var(--purple);
    font-weight: 600;
    margin-bottom: 2rem;
}

.quote-section h6 {
    margin-top: 2rem;
    font-size: 1em;
}

.quote-section h6 a {
    color: var(--purple);
}


/*-----------------4.3 Work-section----------------------*/

.work-section {
    background-color: var(--accent-color);
    padding: 5em 0;
}

.work-section h3 {
    font-size: 1.5em;
}

.work-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2em 0;
}

.work-article:nth-child(even) {
    flex-direction: row-reverse;
}


.work-content {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    justify-content: center;
}

.work-content img {
    width: 50px;
    margin: 16px 0 48px 0;
}

.work-img img {
    width: 100%;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.work-img {
    flex-basis: 700px;
}

.work-content a{
    color: var(--purple);
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    font-weight: 600;
    margin-top: 25px;
}

.work-content a:hover{
    color: var(--accent-color);
}
/*-----------------4.4 Service-section----------------------*/

.inner-container__services {
    flex-basis: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 10rem 20px;

}

.service-article {
    flex-basis: 350px;
    border: 1px solid var(--purple);
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
    padding: 2rem;
}
.service-article img {
    width: 70px;
    margin-bottom: 10px;
}

.service-article h3 {
    color: var(--purple);
    padding-bottom: 20px;
}

.service-article p {
    font-weight: 300;
}
/*-----------------4.5 Form-section----------------------*/
.form-section {
    background: var(--header-bg-color);
    color: var(--accent-color);
}

.form-section h3 {
    font-size: 4em;
    font-weight: 600;
    margin: 2rem 0 2rem 0;
    line-height: 70px;
}

.form-section p {
    font-size: 1.2em;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-section input {
    padding: 1rem 2rem;
    border-radius: 5px;
}

.form-section textarea {
    padding: 1rem 2rem 5rem 2rem;
    border-radius: 5px;
}


.form-section button {
    background: var(--button-bg-color);
    color: var(--accent-color);
    border-radius: 24px;
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: 150px;
    align-self: center;
    border: none;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.form-section label {
    margin-top: 2rem;
}

/*------------------4.6 Footer----------------------------*/

footer {
    text-align: center;
    padding: 1rem 2rem;
    background: #0C0C0C;
    color: var(--article-accent-color);
    font-weight: 300;
}


/* ------------------------------- 5. Media Queries -------------------------------- */